# production (배포 시 주석 처리)
/dist

# publish
# 배포 시 publish/development, publish/staging, publish/production Branch 생성하고 모두 주석 해제
#./src
#./test
#./.env.example
#./.eslintignore
#./.eslintrc.js
#./.prettierignore
#./.prettierrc.cjs
#./jest.config.ts
#./README.md
#./tsconfig.json
#./webpack.config.js

# development
/@dev

# upload
/@uploads

# 로그
/@logs

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz

# IntelliJ
.idea

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# dotenv
.env
.env.development
.env.staging
.env.production

# eslint cache
.eslintcache
